#!/bin/bash
#
# ~/.xinitrc
#

host=$(cat /etc/hostname)
echo debug > ~/start.log
echo "host = $host"  >> ~/start.log
#env >> ~/start.log

if [ "$host" = "karas" ]; then
    echo "karas config selected"
    xrandr --output HDMI-0 --mode 2560x1440 --primary
    #xrandr --output DVI-D-0 --left-of HDMI-0
    #xrandr --dpi 122
elif [ "$host" = "lgt-pc" ]; then
   echo "hyrule config selected"
   xrandr --output HDMI-1 --primary
   xrandr --output DVI-D-1-1 --left-of HDMI-1
   xscreensaver -no-splash &
   insync start
fi


udiskie -2 &
xset s off # screensaver off
xset -b # disable system beep !!!
numlockx on

#feh --bg-fill .wallpaper.jpg
feh --bg-center .wallpaper.jpg
nextcloud &
redshift -l 48.8567:2.3508 &
