#!/bin/bash
#
# ~/.xinitrc
#

host=$(cat /etc/hostname)
echo debug > ~/start.log
#env >> ~/start.log

host=$(cat /etc/hostname)
echo "host = $host"  >> ~/start.log
if [ "$host" = "karas" ]; then
    echo "karas config selected"
    xrandr --output HDMI-0 --primary
    #xrandr --output DVI-D-0 --left-of HDMI-0
    #xrandr --dpi 122
elif [ "$host" = "lgt-pc" ]; then
   echo "hyrule config selected"
   #xrandr --output HDMI-1 --primary
   #xrandr --output DVI-D-1 --mode 2560x1440 
   xrandr --output HDMI-1 --mode 2560x1440 --primary --right-of DVI-D-1
   #xscreensaver -no-splash &
   insync start
elif [ "$host" = "lgt-port" ]; then
   nm-applet &
fi



#setxkbmap fr -variant bepo
#xmodmap ~/.ergodoxXmodmap
#twmnd &
#udiskie -2 &
xset s off # screensaver off
xset -b # disable system beep !!!
numlockx on

#feh --bg-fill .wallpaper.jpg
#feh --bg-center .wallpaper.jpg
#redshift -l 48.8567:2.3508 &
